<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WeTech Blog</title>
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="./bg.css" />
    <link rel="icon" href="./Assets/we tech.png" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
  </head>

  <body>
    <nav class="section-p1 section-m1">
      <div class="logo">
        <a href="./">
          <img src="./Assets/we tech.png" alt="" />
        </a>
      </div>
      <div class="list">
        <% if (login) { %>
        <li><a href="./home">Home</a></li>
        <li><a href="./profile">Profile</a></li>
        <li><a href="./publish" class="active">Publish</a></li>
        <li><a href="./signout">Logout</a></li>
        <% } else { %>
        <li><a href="./">Home</a></li>
        <li><a href="./signin" class="active">Accounts</a></li>
        <% } %>
        <li id="times"><i class="far fa-times times"></i></li>
      </div>
      <div class="hamburger">
        <i class="fas fa-outdent"></i>
      </div>
    </nav>

    <main>
      <% if (posts.length> 0) {posts.reverse(); %> <% posts.forEach((post)=> {
      %>
      <!-- Individual Blog Post -->
      <div class="bg">
        <a class="post-link" href="/post/<%= post.id %>">
          <div class="post-image">
            <img src="./Assets/Article1.png" alt="Blog Post Image" />
          </div>
          <div class="post-details">
            <div class="centered-details">
              <div class="profile-img" style="margin: 1rem">
                <img
                  src="<%= post.author.image %>"
                  width="70px"
                  height="70px"
                  alt=""
                />
                <div class="profile-info">
                  <h3><%= post.author.name %></h3>
                  <p><%= post.author.skill %></p>
                </div>
              </div>
            </div>
            <h2><%= post.title %></h2>
            <p><%= post.body %></p>
          </div>
          <div>
            <sub>
              <% const parsedDate = new Date(post.createdAt); const options = {
              year: "numeric", month: "long", day: "numeric" }; const
              formattedDate = parsedDate.toLocaleDateString("en-US", options);
              %><%=formattedDate %>
            </sub>
          </div>
        </a>
      </div>
      <% }); %> <% } %>
      <!-- End of Individual Blog Post -->
    </main>

    <footer class="section-p1">
      <div class="logo">
        <a href="./">
          <img src="./Assets/we tech.png" width="100%" alt="" />
        </a>
      </div>
      <div class="copy">
        <p>WeTech &copy; 2023 All Copyrights Reserved</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
